.column {
  width: 30%;
  float: left;
  background-color: darkblue;
  border-radius: 20px;
  color:whitesmoke;
  margin-right: 20px;
  margin-left: 20px;
  
}

/* img {
  float: right;
  border-radius: 20px;
  margin-right: 20px;
} */


h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
    margin:20px;
}